<template name='navbar'>
  <nav class="navbar navbar-default expanded" role="navigation">
    <div class="toggle-navbar hide">
      <i class="fa fa-bars"></i>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="{{pathFor 'landing'}}">
        <img src="/logo/logo-white.png" alt="">
      </a>
    </div>

    {{#if isValidUser}}
    <ul class="nav navbar-nav">
      <li><a href="{{pathFor 'addQuest'}}">New quest</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="{{pathFor 'home'}}">My quests</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="{{pathFor 'allQuests'}}">All quests</a></li>
    </ul>
    {{/if}}
    <ul class="nav navbar-nav">
      {{>loginButtons}}
    </ul>

    <div class="map-filters hide">
      {{> filterSlider name="brightness"}}
      {{> filterSlider name="contrast"}}
    </div>
  </nav>
</template>
