<template name='questPage'>
  <div class="content-wrapper">
    <h2 class="center uppercase">{{quest_title}}</h2>
    <div role="tabpanel">
      <ul class="nav nav-pills uppercase" id="tab-nav" role="tablist">
        <li class="active"><a href="#images-tab">Images</a></li>
        <li><a href="#findings-tab">Findings</a></li>
        <li><a href="#emmission-tab">Emission control</a></li>
      </ul>

      <br>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="images-tab">
        {{#each quest_images}}
          {{#unless tilesPath}}
            loading...
            {{>spinner}}
          {{/unless}}

          <h4 class="image_name">{{name}}</h4>
          <a class="image_preview" href="{{pathFor 'questSeek' quest_id=../quest_id zoom=maxZoom file_name=name x=0 y=0}}">
            <img src="/{{previewPath}}" alt>
          </a>
        {{/each}}
        </div>

        <div role="tabpanel" class="tab-pane fade" id="findings-tab">
          <p>findings</p>
          {{#each findings}}
            {{>finding}}
          {{/each}}
        </div>

        <div role="tabpanel" class="tab-pane fade" id="emmission-tab">
          <p>emmission</p>
        </div>
      </div>
    </div>
  </div>
</template>
