<template name='questPage'>
  <div class="content-wrapper">
    <h2 class="center uppercase">{{quest_title}}</h2>
    <div role="tabpanel">
      <ul class="nav nav-pills uppercase" id="tab-nav" role="tablist">
        <li class="active"><a href="#emmission-tab">Mission control</a></li>
        <li><a href="#images-tab">Images</a></li>
        <li><a href="#findings-tab">Findings</a></li>
      </ul>

      <div class="tab-content quest-page">
        <div role="tabpanel" class="tab-pane fade" id="images-tab">
        {{#each quest_images}}
          {{#unless tilesPath}}
             <span class="label label-primary">Loading... Please waiting</span>
          {{/unless}}

          <h4 class="image_name">{{name}}</h4>
          <a class="image_preview" href="{{pathFor 'questSeek' quest_id=../quest_id zoom=maxZoom file_name=name x=0 y=0}}">
            <img src="/{{previewPath}}" alt>
          </a>
          <br>
        {{/each}}
        </div>

        <div role="tabpanel" class="tab-pane fade" id="findings-tab">
          {{#each findings}}
            {{>finding}}
          {{/each}}
        </div>

        <div role="tabpanel" class="tab-pane fade in active" id="emmission-tab">
          <div class="map {{is_grid_show}}"></div>
        </div>
      </div>
    </div>
  </div>
</template>
