<template name='questItem'>
    <div class="thumbnail quest-item">
      {{#if quest_images}}
        <a href="{{pathFor 'questPage' quest_id=this.quest_id }}">
          <img src="{{linkToThumb quest_images}}" alt="">
        </a>
      {{/if}}
      <div class="caption">
        <div class="col-md-12 quest-item__title">
          <a href="{{pathFor 'questPage' quest_id=this.quest_id }}">{{quest_title}}</a>
        </div>
        <div class="col-md-12 quest-item__summary">
          {{quest_summary}}
        </div>
        <div class="col-md-12 quest-item__datetime">
          <i class="fa fa-calendar"></i> {{getDateTime created_at}}
          <span class="pull-right"><i class="fa fa-picture-o"></i> {{countImages quest_images}}</span>
        </div>
      </div>
    </div>
</template>
