<template name='landing'>
  <div class="content-wrapper landing-wrapper">
    <div class="content">
      <h2 class="landing__title">Space archeology</h2>

      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>

      <div class="row"><br></div>

      <h2 class="center">Main features</h2>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="thumbnail">
            <div class="landing__icon">
              <i class="fa fa-globe"></i>
            </div>
            <div class="caption center">
              <h4>Upload region image</h4>
            </div>
          </div>
        </div>
        
        <div class="col-sm-12 col-md-4">
          <div class="thumbnail">
            <div class="landing__icon">
              <i class="fa fa-search"></i>
            </div>
            <div class="caption center">
              <h4>Search artefacts</h4>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <div class="thumbnail">
            <div class="landing__icon">
              <i class="fa fa-comments"></i>
            </div>
            <div class="caption center">
              <h4>Discussion of discoveries</h4>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row"><br></div>

      <h2 class="center">Developers</h2>
      <div class="row landing__developers">
        <div class="col-md-4">
          <img src="https://avatars2.githubusercontent.com/H1D?&s=128" alt="">
          <h4>Artem Suschev</h4>
        </div>
        <div class="col-md-4">
          <img src="https://avatars4.githubusercontent.com/nd0ut?&s=128" alt="">
          <h4>Alexander Grenishin</h4>
        </div>
        <div class="col-md-4">
          <img src="https://avatars5.githubusercontent.com/stark92?&s=128" alt="">
          <h4>Sergey Starkov</h4>
        </div>
      </div>

    </div>    
  </div>
</template>
