// progress line
#iron-router-progress {
  background-color : #ddd;
  box-shadow       : 0 0 5px #e5e5e5;

  &.spinner:before {
    border-color : #ddd;
  }
}

body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.navbar {
  display: none;
}

.center {
  text-align: center;
}
